<html>
<head>
  <meta charset=utf-8 />
  <title>Lmax</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
   <link rel="stylesheet" href="/css/main.css">
  <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />

    

</head>
<body>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.4.10/leaflet.draw.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.4.10/leaflet.draw.js'></script>
        <div name="lateral bar">
            <input type="checkbox" class="checkbox" id="check">
            <label class="menu" for="check">|||</label>
            <div class="left-panel">
                <ul>
                    <a href="/"><li>Inicio</li></a>
                    <a href="/Historicos"><li>Históricos</li></a>
                    <a href="/max"><li>max</li></a>
                </ul>
            </div>
        </div>

    <div id='map'></div>

     <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Taxi Locator</title>
  
  
    


<script>
L.mapbox.accessToken = '<pk.eyJ1IjoibGFzcHJpbGxhbSIsImEiOiJjbDFqdGlvNm4xdXppM3FwOHE5d2YxOHh0In0.vqu096SdupLFc882Fo3BFg>';
  var map = L.mapbox.map('map')
      .setView([38.89399, -77.03659], 17)
      .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));

  var featureGroup = L.featureGroup().addTo(map);

  // Define circle options
  // http://leafletjs.com/reference.html#circle
  var circle_options = {
      color: '#fff',      // Stroke color
      opacity: 1,         // Stroke opacity
      weight: 10,         // Stroke weight
      fillColor: '#000',  // Fill color
      fillOpacity: 0.6    // Fill opacity
  };

  var circle_one = L.circle([38.89415, -77.03738], 20, circle_options).addTo(featureGroup);
  var circle_two = L.circle([38.89415, -77.03578], 20, circle_options).addTo(featureGroup);

  // Create array of lat,lon points
  var line_points = [

  ];
  // Define polyline options
  // http://leafletjs.com/reference.html#polyline
  var polyline_options = {
      color: '#000'
  };

  // Defining a polygon here instead of a polyline will connect the
  // endpoints and fill the path.
  // http://leafletjs.com/reference.html#polygon
  var polyline = L.polyline(line_points, polyline_options).addTo(featureGroup);

  var drawControl = new L.Control.Draw({
    edit: {
      featureGroup: featureGroup
    }
  }).addTo(map);

  map.on('draw:created', function(e) {
      featureGroup.addLayer(e.layer);
  });
</script>
</body>
</html>
